<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создать нового сотрудника</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<h1>Создать нового сотрудника</h1>

<form th:action="@{/employees/create}" th:object="${employee}" method="post">

    <label>ФИО:</label>
    <input type="text" th:field="*{fullName}" required><br>

    <label>Дата рождения:</label>
    <input type="date" th:field="*{birthDate}" required><br>

    <label>Серия/номер паспорта:</label>
    <!-- Серия/номер паспорта: XXXX XXXXXX -->
    <input type="text" th:field="*{passportNumber}" placeholder="XXXX XXXXXX"
           pattern="\d{4} \d{6}" title="Введите серию и номер паспорта в формате XXXX XXXXXX" required>


    <label>Контактная информация:</label>
    <!-- Контактная информация: +7 (999) 999-99-99 -->
    <input type="text" th:field="*{contactInfo}" placeholder="+7 (999) 999-99-99"
           pattern="\+7 \(\d{3}\) \d{3}-\d{2}-\d{2}" title="Введите номер в формате +7 (999) 999-99-99" required>

    <label>Адрес проживания:</label>
    <input type="text" th:field="*{address}" required><br>

    <label>Отдел:</label>
    <select th:field="*{department}" required>
        <option th:each="dep : ${departments}" th:value="${dep}" th:text="${dep.name}"></option>
    </select><br>

    <label>Должность:</label>
    <select th:field="*{position}" required>
        <option th:each="pos : ${positions}" th:value="${pos}" th:text="${pos.name}"></option>
    </select><br>

    <label>Зарплата:</label>
    <input type="number" th:field="*{salary}" min="0" required><br>

    <label>Дата принятия на работу:</label>
    <input type="date" th:field="*{hireDate}" required><br>

    <button type="submit">Сохранить</button>
</form>

<p><a th:href="@{/employees}">Назад к списку сотрудников</a></p>

</body>
</html>
